<div class="p-3">
    <h6>Manage Grade 6 content</h6>
    <div class="container">
        <div class="border-grey border border-1 p-3">
            <div class="d-flex align-items-end mb-3">

                <button type="button" class="btn btn-primary" (click)="gridForm.reset()" data-bs-toggle="modal"
                    data-bs-target="#modalId">Add
                </button>
                <button type="button" class="btn btn-primary" hidden #modalBtn data-bs-toggle="modal"
                    data-bs-target="#modalId">
                </button>
            </div>

            <app-table [columns]="columns" [totalPageCount]="totalCount" [dataSource]="data"
                (paginationEventHandler)="paginationEventHandler($event)"
                (gridEventHandler)="gridEvent($event)"></app-table>



            <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
                role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                    <form [formGroup]="gridForm" (ngSubmit)="submit()" class="w-100">
                        <div class="modal-content p-5">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleId">Add Grid</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="border-grey border border-1 p-3">
                                    <div class="row">
                                        <div class="col mt-3 px-1" *ngIf="gridForm?.get('gridImage')?.value && gridForm?.get('gridImage')?.value!= ''">
                                            <div class="form-field " >
                                                <img [src]="gridForm.get('gridImage')?.value" alt="" height="90px"
                                                width="160px">
                                            </div>
                                        </div>
                                        <div class="col mt-3 px-1">
                                            <div class="form-field ">
                                                <label for="" class="d-block">Grid Image</label>
                                                <input type="file" (change)="handleFileInput($event)" name="Car Image"
                                                id="file">
                                            </div>
                                        </div>
                                        <div class="col mt-3 px-1">
                                            <div class="form-field ">
                                                <label for="" class="d-block">Grid Content</label>
                                                <input formControlName="gridContent" type="text" class="d-block">
                                                <span class="text-danger d-block mt-2"
                                                    *ngIf="submitted && gridForm.get('gridContent')?.errors?.['required']">Grid
                                                    Name is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>