<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-content">
        <div class="sidebar-user">
            <div class="category-content bg-grey-800" style="background-image: linear-gradient(to right, #007aff, #00c8ff, #01d6ff);
            border-bottom: 1px solid white;
            border-top: 1px solid white;">
                <div class="media">
                    <div class="media-body">
                        <span class="media-heading text-semibold">Chaitanya Shirodkar</span>
                        <div class="text-size-mini text-muted">
                            <i class="glyphicon glyphicon-globe text-size-small"></i> 117.222.80.95									</div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li><a href="/settings"><i class="icon-cog3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-category sidebar-category-visible">
            <ul class="navigation">
                <li class="active">
                    <a class="has-ul"><i class="fa fa-clipboard"></i>Home</a>
                    <ul class="submenu ">
                        <li class="active"><a [routerLink]="['/banner/home-banner']">Manage banner</a></li>
                        <li class="active"><a [routerLink]="['/banner/sidebar']">Manage Sidebar</a></li>
                        <li class="active"><a [routerLink]="['/banner/sub-sidebar']">Manage Grade 6 content </a></li>
                        <li class="active"><a [routerLink]="['/banner/grid-six']">Manage Grid Section </a></li>
                        <li class="active"><a [routerLink]="['/banner/countries']">Countries </a></li>

                    </ul>
                </li>
                <!-- <li>
                    <a [routerLink]="['/admin/users']" class="has-ul"><i class="fa fa-clipboard"></i> <span
                            class="menu-text">Manage User</span></a>
                </li> -->
            </ul>

        </div>
    </div>
</div>